
# Build
# Database
data/database/*.db
*.db
dist/
.DS_Store
*.egg-info/
.env
frontend/dist/
frontend/test-results/
# IDE
.idea/
# Node
node_modules/
# OS
*.pyc
__pycache__/
*.py[cod]
.pytest_cache/
# Python
Thumbs.db
.venv/
venv/
.vscode/
